@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{

    margin: 0%;
    padding: 0px;

}

.barra-superior{

    width: 100%;
    height: 70px;
}

.menu{

background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagens/fundo\ projetin.png);
width: 100%;
height: 800px;
background-position: right;

}

.logo{

    background-color: transparent;
    display: flex;
    justify-content: left;
    width: 300px;
    height: 100px;
    

}

.title{

color: aliceblue;
justify-content: center;
align-items: center;
display: flex;
font-size: 90px;
}

.title2{

    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    }

h1{
    text-shadow: 0.5px 0.5px #000000;
    padding: 0;
    margin: 0;
}

/*
h2{
    text-shadow: 2px 2px #000000;
    padding: 0;
    margin: 0;
}
*/

h3{
    font-family:"Bebas Neue";
    text-shadow: 0.5px 0.5px #000000;
    padding: 0;
    margin: 0;
}

#botao-do-bora{
    font-family:"Bebas Neue";
    letter-spacing: 2px;
    color: #ffffff;
    transition: .5s;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 4px;
    border-color: rgba(173, 0, 0, 0);
    box-shadow: 0 10px 20px rgba(247, 245, 245, 0.027), 0 6px 6px rgba(240, 235, 235, 0.23);
    background-color: #be0404;
   }

   #botao-do-bora:hover{
    cursor:pointer;
    transform: scale(1.05);
    transition: .5s;
    opacity: 1;
    box-shadow: inset 0 0 0 25px #000000;
    color: rgb(255, 255, 255)
   }

   #botao-idioma{
    font-family:"Bebas Neue";
    cursor:pointer;
    color: #000000;
    transition: .5s;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 30px 0px 0 1500px; 
    padding: 4px;
    border-color: rgb(255, 255, 255);
    background-color: #ffffff;
   }

   #botao-idioma:hover{
    cursor:pointer;
    transform: scale(1.05);
    transition: .5s;
    opacity: 1;
    box-shadow: inset 0 0 0 25px #000000;
    color: rgb(255, 255, 255)
   }

   #botao-entrar{
    font-family:"Bebas Neue";
    cursor:pointer;
    font-size: 15px;
    color: rgb(255, 255, 255);
    transition: .5s;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px 0px 0 25px;
    padding: 4px;
    border-color: rgb(184, 28, 0);
    background-color: #a50000;
   }

   #botao-entrar:hover{

    transform: scale(1.05);
    transition: .5s;
    opacity: 1;
    box-shadow: inset 0 0 0 25px #a30000;
    color: rgb(255, 255, 255)
   }

   a{

    text-decoration-line: unset ;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    text-decoration: none; 
    color: rgb(255, 255, 255); 
   }

   .email-container{
    display:flex;
    justify-content:center;

    
   }

#caixa-de-email{

    width: 500px;
    height: 50px;

}

.Titulo-Principal{
    font-family:"Bebas Neue";
    color: #ffffff;
    font-size: 90px;
    display: flex;
    justify-content: center;
}

.Mini-Titulo1{
    font-family:"Bebas Neue";
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.Mini-Titulo2{
    font-family:"Bebas Neue";
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/*=====================================================================================*/