@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{

    margin: 0%;
    padding: 0px;

}

form{

    display: flex;
    align-items: center;
}

a{

    text-decoration-line: unset ;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    text-decoration: none; 
    color: rgb(255, 255, 255); 
 }

 /* ==============================================================================PARTE SUPERIOR DA PAGINA ======================================================================= */ 


.menu{

background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/banner_novo.png);
width: auto;
height: 940px;
background-position: right;

}

.cabecalho{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-fundo{

    padding: 20px 0 0 50px;
    width: auto;
    height: 100px;
}


.title{

color: aliceblue;
justify-content: center;
align-items: center;
display: flex;
font-size: 90px;
}

.title2{

    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    }

    
h1{
    text-shadow: 0.5px 0.5px #000000;
    padding: 0;
    margin: 0;
}

/*
h2{
    text-shadow: 2px 2px #000000;
    padding: 0;
    margin: 0;
}
*/

h3{
    font-family:"Bebas Neue";
    text-shadow: 0.5px 0.5px #000000;
    padding: 0;
    margin: 0;
}

#botao-do-bora{
    font-family:"Bebas Neue";
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    transition: .5s;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 57px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 4px;
    border-color: rgba(173, 0, 0, 0);
    background-color: #be0404;
}

#botao-do-bora:hover{
    cursor:pointer;
    transform: scale(1.02);
    transition: .5s;
    opacity: 1;
    box-shadow: inset 0 0 0 25px #b60000;
    color: rgb(255, 255, 255);
}

#botao-idioma{
    
    font-weight:lighter;
    font-family:"Bebas Neue";
    font-size: 18px;
    cursor:pointer;
    color: #000000;
    transition: .5s;
    text-align: center;
    width: 70px;
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: auto;
    padding: 8px;
    border-color: rgb(255, 255, 255);
    background-color: #ffffff;
}

 #botao-idioma:hover{
    cursor:pointer;
    transform: scale(1.05);
    transition: .5s;
    opacity: 1;
    
}

 #botao-entrar{
    
    font-family:"Bebas Neue";

    font-size: 17px;
    cursor:pointer;
    color: rgb(255, 255, 255);
    transition: .5s;
    font-weight:lighter;
    text-align: center;
    width: 70px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 25px 0 20px;
    padding: 8px;
    border-color: rgb(184, 28, 0);
    background-color: #a50000;
}

#botao-entrar:hover{

    
    cursor:pointer;
    transform: scale(1.05);
    transition: .5s;
    
    color: #a50000 !important;
}

.email-container{
 margin: 0px 0px 0px 0px;
display:flex;
justify-content:center;
    
}

#caixa-de-email{
    font-size: 24px;
    width: 500px;
    height: 50px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #fff;
    padding-left: 10px;

}

.Titulo-Principal{
    padding-top: 220px ;
    font-family:"Bebas Neue";
    color: #ffffff;
    font-size: 90px;
    display: flex;
    justify-content: center;
}

.Mini-Titulo1{
    font-family:"Bebas Neue";
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.Mini-Titulo2{
    font-family:"Bebas Neue";
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
}





/* ==============================================================================PARTE INFERIOR DA PAGINA ======================================================================= */


.titulo-das-caixas{
    font-family:"Bebas Neue";
    font-size:2em;

}





.parallax {
/* The image used */
 background-image: url("/assets/images/fundo_estrelado.jpg");
/* Set a specific height */
 height: 100%;
 width: 100%;
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.027), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.caixa-1{

    margin-top: -120px;
    padding-top:0px;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.caixa-1:hover{

    opacity: 1;
    color: rgb(0, 0, 0);
    
}

.texto-caixa-1{

    display: grid;
    color:#ffffff;
    margin-top: 120px;
    background-color: #161616;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.027), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.caixa-2{

    width: 100%;
    height: 100%;
    transition: .5s;
}

.caixa-2:hover{

    opacity: 1;
    color: rgb(0, 0, 0);
    
}

.texto-caixa-2{

    display: grid;
    color:#ffffff;
    margin-top: 20px;
    background-color: #161616;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.027), 0 6px 6px rgba(0, 0, 0, 0.23);

}

/*.caixa-3{

    margin-top: 0px;
    padding-top:10px;
    width: 100%;
    height: 500px;

}
*/

.texto-caixa-3{

    color:#ffffff;
    margin-top: 20px;
    background-color: #161616;
    height: 200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.027), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.grid-1{

    padding: 25px 0px 0px 280px;
    display: flex;
    font-family: "Bebas Neue";
    font-size: 45px;
    grid-column: 1/2;
    grid-row: 1/2;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-2{


padding: 0px 0px 30px 280px;
font-family:"Bebas Neue";
grid-column:1/2;
grid-row:2/2;
margin: 0px;

}

.grid-3{

grid-column:2/2;
grid-row: 1/span 2;

}

#img-tv{

width: 500px;
height: auto;

}

.grid-4{

    display: flex;
    font-family: "Bebas Neue";
    font-size: 45px;
    grid-column: 2/2;
    grid-row: 1/2;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-5{

    padding: 0px 0px 30px 280px;
    font-family:"Bebas Neue";
    grid-column:2/2;
    grid-row:2/2;
    margin: 0px;
    padding: 0px 0px 30px 0px;
}

.grid-6{

    grid-column:1/2;
    grid-row: 1/span 2;
    margin-left: 250px;
}
    

#img-celular{

    width: 290px;
    height: auto;
    
}

.contato{

    font-family: "Bebas Neue";
    font-size: 20px;
    padding: 60px 30% 35px 30%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

#fade-up{

    transition: 10s;
}

/*=====================================================================================*/