.anime-em-destaque{

    background: linear-gradient( to right, rgba(0, 0, 0, 0.603) -25rem, transparent), linear-gradient(to top, black 1rem, transparent ), url(/assets/images/banner-patrasche.png);
    height: 850px;
    background-size: cover;
}

.logo-top{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

.icone-do-perfil{

    cursor: pointer;
    width: auto;
    height: 40px;
    margin: 50px 100px 0px 0px;
    border-radius: 5px;    
   
}